* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.body-wrapper {
  background-color: #191765;
  display: flex;
  flex-direction: column;
  min-width: 100%;
  width: 100vw;
  height: 100%;
  margin: 0;
  padding: 0;
}

#nav {
  list-style: none;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  padding: 0 10px;
  position: fixed;
  top: 0;
  overflow: hidden;
  width: 100%;
}

#nav #union {
  margin-right: 1.5rem;
}

#nav #logo {
  margin-left: 1.5rem;
  color: #fff;
}

.container-flex {
  background-image: url('./assets/Ellipse\ 18.svg');
  background-repeat: no-repeat;
  margin-top: 5rem;
}

.container-flex > h1 {
  font-size: 3rem;
  font-weight: 700;
  color: #5e42d7;
  margin-top: 3rem;
  text-align: center;
  line-height: 54px;
}

.container-flex > h2 {
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
  margin-top: 3rem;
  margin-bottom: 1rem;
  text-align: center;
  line-height: 2rem;
}

.container-flex > p {
  font-size: 1.125rem;
  color: #c8c8d4;
  align-items: center;
  margin: 2rem 1.5rem;
  text-align: center;
  line-height: 2rem;
  vertical-align: top;
}

.body-wrapper > hr {
  border-bottom: 1px solid #c8c8d4;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-top: 0.5rem;
}

.container-flex > hr {
  vertical-align: top;
  border-bottom: 1px solid #c8c8d4;
  margin: 0 1.5rem;
}

.skills-flex {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  align-items: baseline;
  line-height: 1.5rem;
  background-image: url('./assets/Ellipse19.svg');
  background-repeat: no-repeat;
  background-position: top right;
}

.skills-flex > div {
  margin-left: 2.7rem;
  margin-right: 2.7rem;
  vertical-align: center;
}

.layout-flex > ul {
  list-style-type: none;
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  margin-bottom: 2rem;
}

.skills-flex > div > ul {
  list-style-type: none;
}

.layout-flex > ul > li {
  padding: 0.5rem;
  color: #fff;
  border-left: 1px solid #81818c;
  border-right: 1px solid  #81818c;
}

.skills-flex > div > ul > li {
  color: #fff;
  font-size: 0.9rem;
}

.skills-flex > div > h4 {
  color: #7d73fc;
  margin-top: 1.8rem;
  font-size: 0.8rem;
}

.media-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 28vw;
  width: 100%;
  height: 100%;
  margin-top: 2rem;
  flex-wrap: wrap;
}

span {
  font-size: 3rem;
  text-align: center;
  color: #c8c8d4;
  margin-top: 1rem;
}

.works-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1rem;
}

.works-flex > h1 {
  font-style: medium;
  font-size: 2.5rem;
  line-height: 3.25rem;
  color: #9490ff;
  margin-top: 2rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.works-flex > hr {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  border-bottom: 1px solid #c8c8d4;
  margin-top: 0.5rem;
}

.project-flex {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  background:
    url('./assets/Ellipse19(1).svg') left top no-repeat,
    url(./assets/Ellipse\ 20.svg) right top 700px no-repeat,
    url(./assets/Ellipse\ 21.svg) left bottom 800px no-repeat,
    url(./assets/Ellipse\ 22.svg) right bottom 150px no-repeat;
}

.layout-flex > div {
  height: 236px;
  width: 327px;
  text-align: center;
  padding: 0;
  border: no-border;
  margin-top: 1rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.layout-flex > div > img {
  height: 100%;
  width: 100%;
}

.layout-flex > h2 {
  margin-top: 2rem;
  color: #fff;
  text-align: left;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.layout-flex > p {
  margin-top: 2rem;
  color: #fff;
  text-align: left;
  padding-right: 2rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.btn {
  background-color: #7d73fc;
  border: none;
  color: #fff;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  margin-left: 1.5rem;
}

.btn:hover {
  background-color: #7d73fc;
  box-shadow: 0 8px 16px rgba(125, 115, 252, 0.48);
}

.btn:focus {
  background-color: #5e42d7;
}

.btn:disabled {
  background-color: #2a2b33;
  cursor: not-allowed;
}

.footer {
  padding: 2rem;
  text-align: center;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.form > h1 {
  margin-top: 1rem;
  color: #9390ff;
  font-size: 1.5rem;
}

.form > p {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  color: #fff;
  font-size: 1.125rem;
}

.footer > .form {
  display: flex;
  flex-direction: column;
}

form > input {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  width: 100%;
  height: 3rem;
  font-size: 1rem;
  color: #c8c8d4;
}

form > textarea {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  width: 100%;
  height: 9.25rem;
  font-size: 1rem;
  color: #c8c8d4;
}


@media only screen and (min-device-width: 480px) {
  /* STYLES HERE for DEVICES with physical max-screen width of 480px */
  .project-flex {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(900px, 1fr));
  }
}
