* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body-wrapper {
  background-color: #191765;
  display: flex;
  flex-direction: column;
  min-width: 100%;
  width: 100vw;
  height: 100%;
  margin: 0;
  padding: 0;
}

.nav-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  top: 0;
  bottom: 3rem;
  padding: 40px 20px;
  left: 0;
  width: 100%;
  height: 3rem;
  overflow: hidden;
  position: fixed;
}

.nav-flex > a {
  text-decoration: none;
}

.nav-flex > a > h5 {
  color: #fff;
  opacity: 50%;
}

footer > h1 {
  margin-top: 1rem;
  color: #9390ff;
  font-size: 1.5rem;
}

footer > p {
  margin-top: 1rem;
  color: #fff;
  font-size: 1.125rem;
}

.container-flex {
  display: flex;
  flex-direction: column;
  align-items: center;

  /* justify-content: center; */
  background-image: url('./assets/Ellipse\ 18.svg');
  background-repeat: no-repeat;
  margin-top: 5rem;
}

.container-flex > h1 {
  font-size: 3rem;
  font-weight: 700;
  color: #5e42d7;
  margin-top: 3rem;
  text-align: center;
  line-height: 54px;
}

.container-flex > h2 {
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
  margin-top: 3rem;
  margin-bottom: 1rem;
  text-align: center;
  line-height: 2rem;
}

.container-flex > p {
  font-size: 1.125rem;
  color: #c8c8d4;
  margin-bottom: 1rem;
  align-items: center;
  width: 87.2vw;
  margin-top: 2rem;
  text-align: center;
  line-height: 2rem;
  vertical-align: top;
}

.body-wrapper > hr {
  width: 87.2vw;
  border-bottom: 1px solid #c8c8d4;
  margin-left: 6.4vw;
  margin-top: 0.5rem;
}

.container-flex > hr {
  vertical-align: top;
  width: 87.2vw;
  border-bottom: 1px solid #c8c8d4;
  margin-top: 0.5rem;
}

.skills-flex {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  align-items: baseline;
  text-align: center;
  margin-top: 0.5rem;
  line-height: 3rem;
  background-image: url('./assets/Ellipse\ 19(1).svg');
  background-repeat: no-repeat;
  background-position: right;
}

.skills-flex > div {
  margin-right: 6vw;
  margin-left: 6vw;
}

.skills-flex > div > ul {
  list-style-type: none;
}

.skills-flex > div > ul > li {
  color: #fff;
  font-size: 0.9rem;
}

.skills-flex > div > h4 {
  color: #7d73fc;
  margin-top: 2rem;
  font-size: 1.2rem;
}

.media-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 28vw;
  width: 100%;
  height: 100%;
  margin-top: 2rem;
  flex-wrap: wrap;
}

span {
  font-size: 3rem;
  text-align: center;
  color: #c8c8d4;
  margin-top: 3rem;
}

.works-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 6.4vw;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.works-flex > h1 {
  font-style: medium;
  font-size: 2.5rem;
  line-height: 3.25rem;
  color: #9490ff;
}

.works-flex > hr {
  width: 87.2vw;
  border-bottom: 1px solid #c8c8d4;
  margin-top: 3rem;
}

.content-flex > .layout-flex > div {
  height: 236px;
  width: 327px;
  text-align: center;
  padding: 15px;
  border: 3px solid #7d73fc;
  background-color: #fff;
  margin-top: 2rem;
}

.content-flex > .layout-flex > div > img {
  max-width: 100%;
}

.content-flex > .layout-flex > h2 {
  margin-top: 2rem;
  color: #fff;
  text-align: left;
}

.content-flex > .layout-flex > p {
  margin-top: 2rem;
  color: #fff;
  text-align: left;
  padding-right: 2rem;
}

.content-flex > .layout-flex > ul {
  list-style-type: none;
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  margin-bottom: 2rem;
}

.content-flex > .layout-flex > ul > li {
  padding: 1rem;
  color: #fff;
}

.content-flex > .layout-flex > ul > .border {
  border-left: 1px solid #7d73fc;
  padding: 1rem;
}

.content-flex > .layout-flex > button {
  background-color: #7d73fc;
  border: none;
  color: #fff;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

footer {
  padding: 2rem;
  text-align: center;
}
